.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
